.header {
  background-color: rgb(55, 57, 58);
  height: 50px;
  opacity: 80%;
}

.header:hover{
    opacity: 100%;
}

.header-items {
  display: flex;
  justify-content: center;
  height: 100%;
}

.header-items li {
  line-height: 50px;
  display: inline;
  width: 10%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 10px;
}
.header-items li a{
  display: block;
  text-decoration: none;
  color: white;
  height: 100%;
}
.header-items li:hover{
    background-color: black;
}
